# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Firebase/Secrets
ServiceAccountKey*.json
.env

# Large binaries/Installers
*.exe

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask/Instance
instance/
.pytest_cache/
.coverage
htmlcov/
temp_receipts/
